[submodule "execution-specs"]
	path = execution-specs
	url = https://github.com/ethereum/execution-specs
[submodule "ethereum-tests"]
	path = ethereum-tests
	url = https://github.com/ethereum/tests
[submodule "lib/primitives"]
	path = lib/primitives
	url = ../primitives
